<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
        <img src="aucta.png" width="100">
        <div id="name">Aucta Studio</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="../pages/products.html">Products</a></li>
        </ul>
    </nav>

    <div>
        {{content}}
    </div>

</body>

<footer>
    <ul>
        <li><a href="../pages/about.html"> About us </a></li>
        <li><a href="../pages/contact.html"> Contact us </a></li>
    </ul>
</footer>

</html>