<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>

    <body>
        <nav>
            <ul>
                <li><img src="../images/aucta.png" width="100" height="100"></li>
                <li id="name">Aucta Studio</li>
                <li><a href="/">Home</a></li>
                <li><a>Products</a></li>
            </ul>
        </nav>

        <div>
            {{content}}
        </div>

    </body>

    <footer>
        <ul>
          <li><a href="../pages/about.html"> About Us </a></li>
          <li><a href="../pages/contact.html"> Contact Us </a></li>
        </ul>
    </footer>

</html>